<h1>Log a New Happy Hour!</h1>
<form action="/happy_hours" method="post">
  <p><label for="locale">Where'd you go?:</label>
    <input list="locales" name="locale">
    <datalist id="locales">
      <% @user.happy_hours.each do |l| %>
        <option value="<%= l.locale.capitalize %>"><%= l.locale.capitalize %></option>
      <% end %>
    </datalist></p>
  <p><label for="date">When'd you go?:</label>
  <input type="text" name="date"></p>
  <p><label for="food">What'd you eat?:</label>
  <input type="text" name="food"></p>
  <p><label for="drink">What'd you drink?:</label>
  <input type="text" name="drink"></p>
  <p><label for="friends">Who'd you eat with?:</label>
  <input type="text" name="friends"></p>
  <p><label for="rating">Rating, 1-5:</label>
  <input type="text" name="rating"></p>
  <div class="frmBtn">
  <input type="submit" value="Log it!" >
</form>
<form action="/happy_hours">
    <input type="submit" value="Cancel" />
</form>
</div>
<p></p>
<br>
