<h1>Welcome to Happy Hour Journal!</h1>
<div class="frmBtn">
<form action="/login">
    <input type="submit" value="Login" />
</form>
<form action="/signup">
    <input type="submit" value="Signup" />
</form>
</div>
<p></p>
<br>
