<!doctype html>
<html>
  <head>
    <title>Happy Hour Journal</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
</head>
  <body>
    <div id="content">
      <% %w(username empty).each do |key| %>
        <% if flash[key] %>
        <div id="#{key}" class="flash">
          <%= flash[key] %>
          </div>
        <% end %>
      <% end %>
    <%= yield %>
    </div>
  </body>
</html>
